:root {
    /* version 1.0 (for page 1) */
    --brand: #968BF4;
    --base: #201E2A;
    --dark: #25294A;
    --foot: #443750;
    --variant: #4550A6;
    --white: #FFFFFF;
    --linear-brand-c1: #9B84F1;
    --linear-brand-c2: #88A0FC;
    --linear-accessory-c1: #585BFF;
    --linear-accessory-c2: #333473;

    --brand-rgb: 150, 139, 244;
    --base-rgb: 32, 30, 42;
    --dark-rgb: 37, 41, 74;
    --variant-rgb: 69, 80, 166;
    --white-rgb: 255, 255, 255;
    --foot-rgb: 68, 55, 80;
    --linear-brand-c1-rgb: 155, 132, 241;
    --linear-brand-c2-rgb: 136, 150, 252;
    --linear-accessory-c1-rgb: 88, 91, 255;
    --linear-accessory-c2-rgb: 51, 52, 115;
}

.bg-brand {
    background-color: rgba(var(--brand-rgb), 1) !important;
}

.bg-brand-linear {
    background: linear-gradient(90deg, var(--linear-brand-c2), var(--linear-brand-c1)); !important;
}

.bg-accessory-linear {
    background: linear-gradient(0deg, var(--linear-accessory-c1), var(--linear-accessory-c2)); !important;
}

.bg-base {
    background-color: rgba(var(--base-rgb), 1) !important;
}

.bg-dark {
    background-color: rgba(var(--dark-rgb), 1) !important;
}

.bg-foot {
    background-color: rgba(var(--foot-rgb), 1) !important;
}

.bg-white {
    background-color: rgba(var(--white-rgb), 1) !important;
}

.text-brand {
    color: rgba(var(--brand-rgb), 1) !important;
}

.text-base {
    color: rgba(var(--base-rgb), 1) !important;
}

.text-dark {
    color: rgba(var(--dark-rgb), 1) !important;
}

.text-foot {
    color: rgba(var(--foot-rgb), 1) !important;
}

.text-white {
    color: rgba(var(--white-rgb), 1) !important;
}

.bg-full {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.radius-3 {
    border-radius: 3rem;
}

.full-layout {
    height: calc(100% - 74px); /* 滿版高度為100% 扣 header或footer高度 */
    width: 100%; /* 寬度滿版 */
}

/* banner */
.banner-layout {
    border-radius: 1rem;
    height: 30vh;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
    .banner-layout {
        border-radius: 2rem;
        height: 32vh;
    }
}
@media (min-width: 1200px) {
    .banner-layout {
        border-radius: 3rem;
        height: 36vh;
    }
}
@media (min-width: 1400px) {
}

.banner-text-lg {
    font-size: 4rem;
    line-height: 6rem;
}

.banner-text-md {
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.banner-text-sm {
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.banner-long-text {
    font-size: 1rem;
    line-height: 1.2rem;
}
@media (min-width: 576px) {
    .banner-long-text {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
}
@media (min-width: 768px) {
    .banner-long-text {
        font-size: 1.3rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 992px) {
    .banner-long-text {
        font-size: 1.35rem;
        line-height: 2.8rem;
    }
}
@media (min-width: 1200px) {
    .banner-long-text {
        font-size: 1.5rem;
        line-height: 3rem;
    }
}
@media (min-width: 1400px) {
}


.move-up-half {
    transform: translateY(-50%);
}

.move-down-half {
    transform: translateY(50%);
}

.move-up-5 {
    margin-top: -5rem;
}

.move-down-5 {
    margin-bottom: -5rem;
}

.move-left-4 {
    margin-left: -4rem;
}

.move-left-5 {
    margin-left: -5rem;
}

.move-right-4 {
    margin-right: -4rem;
}

.move-right-5 {
    margin-right: -5rem;
}

.btn-circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
}

.animate-on-hover {
    cursor: pointer;
}

/* swiper */
.character-img {
    border-radius: 1rem;
    height: 200px;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
    .character-img {
        border-radius: 2rem;
        height: 250px;
    }
}
@media (min-width: 1200px) {
    .character-img {
        border-radius: 3rem;
        height: 300px;
    }
}
@media (min-width: 1400px) {
}
.character-img:hover {
    transform: scale(1.2);
    transform-origin: center center;
    transition-duration: 750ms;
    z-index: 1;
}

.lighting-con {
    box-shadow: 0 0 1rem 0.1rem rgba(255, 255, 255, 0.2);
}

.lighting-div {
    box-shadow: 0 0 4rem 0.1rem rgba(255, 255, 255, 0.1);
}

.enlarge-1x2 {
    transform: scale(1.2);
}

.enlarge-1x5 {
    transform: scale(1.5);
}

.enlarge-2x {
    transform: scale(2.0);
}

.enlarge-3x {
    transform: scale(3.0);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 0}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
