@font-face {
    font-family: Rubik;
    src: url("assets/font/Rubik-Black.ttf");
    font-weight: 999;
    font-style: normal;
}

* {
    font-size: 100%;
    font-family: Rubik, Verdana, sans-serif;
}

.join-discord-btn {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 250px);
    /*letter-spacing: 0.1rem;*/
    /*transition-duration: 0.4s;*/
}

.dress-accessory-box {
    border-radius: 1.5rem;
    box-shadow: 2px 5px 5px rgba(var(--bs-black-rgb), 0.5);
}

.dress-btn {
    transform: scale(2.0);
}

.dress img {
    position: absolute;
    display:inline-block;
    height:100%;
}

.main-body-box {
    position: relative;
    /*border: solid 10px white;*/
}

.main-body {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.mint-coming-soon {
    padding: 2rem 4rem;
    box-shadow: 0 0 1rem 0.3rem rgba(255, 255, 255, 0.3);
    border-radius: 1.2rem;
}

.mint-progress-bar {
    border-radius: 6px;
}

.faq-box {
    border-radius: 2rem;
    cursor: pointer;
}

.article-card {
    padding: 0;
    box-shadow: 0 0 0.8rem 0.1rem rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
}

.article-image {
}

.saveplanet {
    background-color: rgba(var(--base-rgb), 1) !important;
    text-align: center;
}

.footer {
    background-color: #443750;
}

